In [1]:
import pandas as pd

# âœ… Load directly from base folder
df = pd.read_csv('Railway_info.csv')

In [2]:
print(df.head(10))

   Train_No    Train_Name           Source_Station_Name  \
0       107  SWV-MAO-VLNK               SAWANTWADI ROAD
1       108  VLNK-MAO-SWV                   MADGOAN JN.
2       128  MAO-KOP SPEC                   MADGOAN JN.
3       290  PALACE ON WH             DELHI-SAFDAR JANG
4       401  BSB BHARATDA                    AURANGABAD
5       421  LKO-SVDK FTR                   LUCKNOW JN.
6       422  SVDK-LKO FTR  SHRI MATA VAISHNO DEVI KATRA
7       477  FTR TRAIN NO                         SIRSA
8       502  RJPB-UMB FTR        RAJENDRANAGAR TERMINAL
9       504  PNBE-BTI FTR                     PATNA JN.

             Destination_Station_Name       days
0                         MADGOAN JN.   Saturday
1                     SAWANTWADI ROAD     Friday
2  CHHATRAPATI SHAHU MAHARAJ TERMINUS     Friday
3                   DELHI-SAFDAR JANG  Wednesday
4                        VARANASI JN.   Saturday
5        SHRI MATA VAISHNO DEVI KATRA    Tuesday
6                         LUCKNOW JN.     Monday
7                               SIRSA     Sunday
8                     AMBALA CANTT JN     Monday
9                         BATHINDA JN  Wednesday

In [3]:
# See data types & non-null counts
print(df.info())

# See summary stats (for numeric columns)
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train_No                  11113 non-null  int64
 1   Train_Name                11113 non-null  object
 2   Source_Station_Name       11113 non-null  object
 3   Destination_Station_Name  11113 non-null  object
 4   days                      11113 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.2+ KB
None
           Train_No
count  11113.000000
mean   49190.570413
std    28515.986645
min      107.000000
25%    22607.000000
50%    47174.000000
75%    68012.000000
max    99908.000000

In [4]:
num_trains = len(df)
print("Number of trains:", num_trains)

Number of trains: 11113

In [6]:
print(df.columns)

Index(['Train_No', 'Train_Name', 'Source_Station_Name',
       'Destination_Station_Name', 'days'],
      dtype='object')

In [7]:
unique_destinations = df['Destination_Station_Name'].nunique()
print("Unique destination stations:", unique_destinations)

Unique destination stations: 924

In [8]:
unique_sources = df['Source_Station_Name'].nunique()
print("Unique source stations:", unique_sources)

Unique source stations: 921

In [9]:
common_source = df['Source_Station_Name'].mode()[0]
print("Most common source station:", common_source)

Most common source station: CST-MUMBAI

In [10]:
common_destination = df['Destination_Station_Name'].mode()[0]
print("Most common destination station:", common_destination)

Most common destination station: CST-MUMBAI

In [11]:
print(df.isnull().sum())

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [12]:
# Drop rows with missing values
df_cleaned = df.dropna()

# OR, fill missing values with placeholder
# df_cleaned = df.fillna('Unknown')

In [14]:
df_cleaned['Source_Station_Name'] = df_cleaned['Source_Station_Name'].str.upper()
df_cleaned['Destination_Station_Name'] = df_cleaned['Destination_Station_Name'].str.upper()

In [15]:
print(df_cleaned.head(10))
print(df_cleaned.info())

   Train_No    Train_Name           Source_Station_Name  \
0       107  SWV-MAO-VLNK               SAWANTWADI ROAD
1       108  VLNK-MAO-SWV                   MADGOAN JN.
2       128  MAO-KOP SPEC                   MADGOAN JN.
3       290  PALACE ON WH             DELHI-SAFDAR JANG
4       401  BSB BHARATDA                    AURANGABAD
5       421  LKO-SVDK FTR                   LUCKNOW JN.
6       422  SVDK-LKO FTR  SHRI MATA VAISHNO DEVI KATRA
7       477  FTR TRAIN NO                         SIRSA
8       502  RJPB-UMB FTR        RAJENDRANAGAR TERMINAL
9       504  PNBE-BTI FTR                     PATNA JN.

             Destination_Station_Name       days
0                         MADGOAN JN.   Saturday
1                     SAWANTWADI ROAD     Friday
2  CHHATRAPATI SHAHU MAHARAJ TERMINUS     Friday
3                   DELHI-SAFDAR JANG  Wednesday
4                        VARANASI JN.   Saturday
5        SHRI MATA VAISHNO DEVI KATRA    Tuesday
6                         LUCKNOW JN.     Monday
7                               SIRSA     Sunday
8                     AMBALA CANTT JN     Monday
9                         BATHINDA JN  Wednesday
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train_No                  11113 non-null  int64
 1   Train_Name                11113 non-null  object
 2   Source_Station_Name       11113 non-null  object
 3   Destination_Station_Name  11113 non-null  object
 4   days                      11113 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.2+ KB
None

In [16]:
# Save cleaned data to a new CSV file
df_cleaned.to_csv('Railway_info_cleaned.csv', index=False)

In [17]:
# Save cleaned DataFrame to output folder
df_cleaned.to_csv('output/Railway_info_cleaned.csv', index=False)